
@{
    Layout = null;
}

<!DOCTYPE html>

<style>

    * {
        box-sizing: border-box;
    }

    .info:empty {
        background: black;
        height: 40px;
    }

    .list {
        position: relative;
        height: 200px;
        width: 100%;
    }

    .list::before {
        content: "";
        background-image: url('https://secretmag.ru/imgs/2017/09/17/22/1381080/dde97d6bb8e046218d545671b8aedb28caf0d2dc.jpg');
        background-size: cover;
        position: absolute;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        opacity: 0.1;
    }

    .text {
        position: relative;
        color: black;
        line-height: 0.9;
        text-align: center;
    }

    .new_text {
        text-shadow: 1px 1px 2px grey;
        text-align: center;
        font-size: 250%;
    }

    input[type=text], select, textarea {
        width: 100%;
        padding: 12px;
        border: 1px solid #ccc;
        margin-top: 6px;
        margin-bottom: 16px;
        resize: vertical;
    }

    input[type=submit] {
        background-color: #4CAF50;
        color: white;
        padding: 12px 20px;
        border: none;
        cursor: pointer;
    }

    input[type=submit]:hover {
        background-color: #45a049;
    }

    .container {
        border-radius: 5px;
        background-color: #f2f2f2;
        border: 10px dashed black;
        margin: 10px;
        padding: 6px;
    }

    .column {
        float: left;
        width: 50%;
        margin-top: 6px;
    }

    .row:after {
        content: "";
        display: table;
        clear: both;
    }
</style>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>FirstPage</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Parfum.LO</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search your fragrance" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Why Parfum.LO?</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="~/Product/Index">Catalog</a>

                </li>
                <li class="nav-item">
                    <a class="nav-link" href="~/Cart/Index">Shopping Cart</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Enter
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Sign in</a>
                        <a class="dropdown-item" href="#">Sign up</a>
                        <div class="dropdown-divider"></div>
                        <small><a class="dropdown-item" href="#">Continue as a guest</a></small>
                    </div>
                </li>

            </ul>

        </div>
    </nav>

    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active" data-interval="5000">
                <img src="~/img/lancome.jpeg" class="d-block w-100" alt="lancome">
            </div>
            <div class="carousel-item" data-interval="5000">
                <img src="~/img/gucci.jpeg" class="d-block w-100" alt="gucci">
            </div>
            <div class="carousel-item" data-interval="5000">
                <img src="~/img/scandal.jpeg" class="d-block w-100" alt="scandal">
            </div>
            <div class="carousel-item" data-interval="5000">
                <img src="~/img/givm.jpeg" class="d-block w-100" alt="givm">
            </div>
            <div class="carousel-item" data-interval="5000">
                <img src="~/img/giv.jpeg" class="d-block w-100" alt="giv">
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>

    <div class="info"></div>

    <div class="list-group">

        <a href="#" class="list-group-item list-group-item-action">
            <div class="list text">
                <div>
                    <h5 class="new_text">Why us?</h5>
                </div>
                <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                <small>Donec id elit non mi porta.</small>
            </div>
        </a>
        <div class="info"></div>

        <a href="#" class="list-group-item list-group-item-action">
            <div class="list text">
                <div>
                    <h5 class="new_text">News</h5>
                </div>
                <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                <small class="text-muted">Donec id elit non mi porta.</small>
            </div>
        </a>
        <div class="info"></div>
        <a href="#" class="list-group-item list-group-item-action">
            <div class="list text">
                <div>
                    <h5 class="new_text">Partners</h5>
                </div>
                <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                <small class="text-muted">Donec id elit non mi porta.</small>
            </div>
        </a>
        <div class="info"></div>
    </div>


    <div class="container">
        <div style="text-align:center">
            <h2>Contact Us</h2>
            <p>Do you have any questions? Leave us a message:</p>
        </div>
        <div class="row">
            <div class="column">
                <img src="https://pbs.twimg.com/media/C1Cs5geXcAAwWzt.jpg" style="width:90%; padding-left: 6px; padding-top: 10px;">
            </div>
            <div class="column">
                <form style="padding: 6px;">
                    <label for="fname">First Name</label>
                    <input type="text" id="fname" name="firstname" placeholder="Your name..">
                    <label for="lname">Last Name</label>
                    <input type="text" id="lname" name="lastname" placeholder="Your last name..">
                    <label for="phone">Phone</label>
                    <input type="text" id="phone" name="phone" placeholder="Your phone..">
                    <label for="country">Country</label>
                    <select id="country" name="country">
                        <option value="ukraine">Ukraine</option>
                        <option value="russia">Russia</option>
                        <option value="france">France</option>
                        <option value="australia">Australia</option>
                        <option value="canada">Canada</option>
                        <option value="usa">USA</option>
                    </select>
                    <label for="subject" style="padding-top: 12px;">Subject</label>
                    <textarea id="subject" name="subject" placeholder="Write something.." style="height:170px"></textarea>
                    <input type="submit" value="Submit">
                </form>
            </div>
        </div>
    </div>
    <div class="info"></div>
</body>
</html>
